<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">

      <div class="mdl-card__title" style="background-image: url('img/panel1.jpg')">
      </div>
      <div class="mdl-card__supporting-text">
        <span>Some date, sometime</span>
        <p>Some excerpt text</p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="">Read More</a>
      </div>
   </div>
 

   <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-card__title" style="background-image: url('img/panel2.png')">
      </div>
      <div class="mdl-card__supporting-text">
        <span>Some date, sometime</span>
        <p>Some excerpt text</p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="">Read More</a>
      </div>
   </div>
 
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-card__title" style="background-image: url('img/panel3.jpg')">
      </div>
      <div class="mdl-card__supporting-text">
        <span>Some date, sometime</span>
        <p>Some excerpt text</p>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="">Read More</a>
      </div>
   </div>
