<div style="padding: 30px;" class="cta1">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <div style="max-width: 80%">
                <h1 class="display-4 logo-text">{{ site.title  }}</h1>

                <h4 style="font-size: 30px; font-weight: 300; margin: 5px; color: white;">
                Keep track of everything you grow with {{ site.title }}.<br>
                </h4>

                <p style="font-weight: 100; font-size: 1.5em; padding: 5px; color: white;">
                This is for the plant lovers.  Beautiful labels.  Easy to use features.  Mobile friendly.  Whether it’s one houseplant or your whole garden, we’ve got you covered.

                <div style="padding-top: 10px; padding-left: 5px;">
                <button style="color: white; margin-top: 10px;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="window.location.assign('/features')">
                  Learn More
                </button>
                <button style="color: white; margin-top: 10px;" class="mdl-button mdl-js-button mdl-button--raised" onclick="window.location.assign('http://hello.haskapp.com/user/register')">
                  Create Account
                </button>
                </div>

            </div>
          </div>

    <div class="mdl=cell mdl-cell--6-col mdl-layout--large-screen-only">
            <img style="max-height: 50vh;" src="/img/haskapp_demo.gif">
    </div>
 

</div>

</div>

